@page
@model BigScreen.Pages.ArenaEventAdm.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArenaEvent[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArenaEvent[0].EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArenaEvent[0].ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArenaEvent[0].LengthOfMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArenaEvent[0].Tifo)
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ArenaEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tifo.Id)
            </td>
       
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
