@page
@model BigScreen.Pages.TifoPartScreenAdm.IndexModel

@{
    ViewData["Title"] = "Tifo display admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].TifoPartScreenHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].TifoPartScreenWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].AbsScreenHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].AbsScreenWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].DotsPerPixel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TifoPartScreen[0].DotsPerInch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TifoPartScreen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TifoPartScreenHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TifoPartScreenWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsScreenHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsScreenWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DotsPerPixel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DotsPerInch)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
