@page
@model BigScreen.Pages.UserSeatAdm.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].ApplicationUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].Seat.ArenaSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].Seat.SectionRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSeat[0].Seat.SectionColumn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserSeat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SeatId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.ArenaSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SectionRow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat.SectionColumn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
